@font-face {
  font-family: Blackriver;
  src: url("./assets/Blackriver-Bold.otf");
}

@font-face {
  font-family: NowBlack;
  src: url("./assets/Now-Black.otf");
}

@font-face {
  font-family: NowLight;
  src: url("./assets/Now-Light.otf");
}

#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: NowLight;
  background-image: url("./assets/background.png");
  /* background-repeat: no-repeat; */
  background-size: 100%;
  padding-top: 60px;
  padding-bottom: 10rem;
  position: relative;
  min-height: 100vh;
  margin: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*TOP BAR*/

.top-bar {
  display: flex;
  background-image: url("./assets/background.png");
  background-size: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  align-items: center;
  text-transform: uppercase;
  z-index: 999;
  color: white;
}

.topbar-logo {
  height: 40px;
  padding: 10px;
}

.bar-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bar-links > * {
  display: block;
  padding: 8px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 15px;
}

.bar-links > *:hover {
  text-shadow: #ffffff 0 0 5px;
}

/*FOOTER*/

.footer-cont {
  background-image: url("./assets/footer.png");
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10rem;
}

/*HOMEPAGE*/

.home-title-container h1 {
  size: 80px;
  margin-top: 0;
  margin-bottom: 100px;
}

.home-title-container img {
  padding: 60px 0 0 0;
}

.carrousel-wrapper {
  background-color: rgb(239, 228, 197);
  border-radius: 20px;
  color: white;
  animation: shadows 2s infinite;
  padding: 80px 0 60px 0;
  margin: 0 auto;
  width: 95%;
  color: #0b1828;
}

.carrousel-wrapper h1 {
  font-family: NowBlack;
}

.swiper {
  width: 100%;
  padding: 20px 0 0 0 !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  padding-bottom: 10px;
}

.swiper-slide img {
  display: block;
  width: 400px;
  margin: 0 auto;
}

@keyframes shadows {
  0% {
    box-shadow: #ffffff 0 0 40px;
  }
  50% {
    box-shadow: blueviolet 0 0 40px;
  }
  75% {
    box-shadow: #48abe0 0 0 40px;
  }
  100% {
    box-shadow: #ffffff 0 0 40px;
  }
}

.add-button {
  margin: 50px;
  height: 80px;
  width: 280px;
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -6px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  text-transform: lowercase;
  font-family: Blackriver;
  font-size: 30px;
  color: #0b1828;
}

.add-button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -6px 0 inset;
}

.add-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -6px 0 inset;
  transform: translateY(2px);
}

.add-button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(4px);
}

/*HOMEPAGE NEWS LIST*/

.news-container {
  padding: 0;
  margin: 0 0 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  gap: 2rem;
}

.list-group-each-news {
  width: 300px;
  max-height: 85%;
  background: #46365376;
  border-radius: 30px;
  padding: 30px;
  color: white;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.news-container a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 0;
}
.news-container a:hover {
  text-shadow: #bca1c4 0 0 2px;
}

.list-group-each-news img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.button-wrapper {
  border-radius: 30px;
  background: #6b567c76;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  width: 50%;
  margin: 0 auto;
}

.button-wrapper:hover {
  transform: translateY(2px);
}

.button-wrapper:active {
  transform: translateY(4px);
}
/*MOVIE LIST PAGE*/

.movies-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list-group-each {
  width: 300px;
  max-height: 85%;
  color: white;
  height: 100%;
}

.list-group-each p {
  margin-bottom: 0;
}

.movies-container a {
  text-decoration: none;
}

.list-group-each img {
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

/*MOVIE DETAILS PAGE*/

.detail-container {
  display: flex;
  text-align: left;
  justify-content: space-around;
  padding-top: 60px;
  font-size: 25px;
}

.detail-container div {
  width: 800px;
}

.detail-container img {
  height: 600px;
}

/*NEWS DETAILS PAGE*/

.news-detail-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  padding: 60px;
  font-size: 22px;
}

.news-detail-container img {
  height: auto;
  width: 1000px;
}

/*REVIEWS*/

.review-button {
  margin: 50px;
  background-color: white;
  color: #0b1828;
  text-transform: uppercase;
  font-family: NowBlack;
  height: 60px;
  width: 150px;
  border-radius: 30px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  box-shadow: 0 9px #0b1828;
}

/*FORMS*/

.popup {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px; 
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
  background: linear-gradient(145deg, #9B56A8, #6A8AB8); 
  color:white ; 
}

.inside-popup {
  position: relative;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popup-header h2 {
  margin: 0;
}

.delete-btn {
  background-color: #9B56A8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
}

.popup-form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #9B56A8;
}

.inline-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  color: #9B56A8;
}

.add-movie-popup .label,.add-movie-popup input,.add-movie-popup select,.add-movie-popup textarea {
  display: block;
   margin-bottom: 15px;
   color: #9B56A8;
}

.add-movie-popup input[type="text"],.add-movie-popup select, .add-movie-popup textarea {
  width: calc(100% - 20px); 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc; 
  background-color: #f8f8f8; 
}

#popup-submit-btn {
  background-color: #6A8AB8; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  align-self: center; 
  transition: background-color 0.3s ease;
}

#popup-submit-btn:hover {
  background-color: #9B56A8; 
}

.popup-title-input, label {
  color: white; 
}

.add-movie-popup textarea {
  background-color: white; 
  color: #6A8AB8
}

.add-movie-popup select {
  color: #9B56A8;
  width: 100%;
}
.add-movie-popup select[name="year"] {
  width: 100%;
  -webkit-appearance: none; 
  appearance: none; 
  background-color: #f8f8f8; 
  border: 1px solid #ccc; 
  padding: 10px;
  border-radius: 5px;
}


.add-movie-popupselect::-webkit-scrollbar {
  width: 12px; 
}

.add-movie-popup select::-webkit-scrollbar-thumb {
  background-color: white; 
  border-radius: 6px;
}

.add-movie-popup select::-webkit-scrollbar-track {
  background-color: #f0f0f0; 
}


.add-movie-popup select {
  scrollbar-width: thin; 
  scrollbar-color: white #f0f0f0; 
}

#star-rating {
  font-family: sans-serif;
  text-align: center;
}

input[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
  font-size: 2rem;
  margin: 5px;
}

/* ML))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))*/

.recentreviews-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.recentreviews-details {
  background-color: rgb(239, 228, 197);
  border-radius: 20px;
  color: white;
  animation: shadows 2s infinite;
  padding: 30px 0 60px 0;
  margin: 0 auto;
  color: #0b1828;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: small;
  max-width: 30%;
  width: 50%;
  cursor: pointer;
}

.recentreviews-flex {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.recentreviews-img {
  width: 20%;
  position: relative;
  flex-shrink: 0;
  padding: 30px 30px 30px 50px;
  align-content: center;
}

#recentreviews-title-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  text-align: left;
}
#recentreviews-signature {
  font-size: xx-small;
}

.playpage-main {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.playpage-games-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  margin-top: -60px;
}

#playpage-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.playpage-buttons {
  background-color: white;
  color: #0b1828;
  text-transform: uppercase;
  font-family: NowBlack;
  height: 75px;
  width: 280px;
  border-radius: 30px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
  box-shadow: 0 9px #0b1828;
}

.scrollUp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  z-index: 1000;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: white;
  text-align: center;
  line-height: 50px;
}

.sort-btn button {
  background-color: rgb(239, 228, 197);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  transition: background-color 0.3s, transform 0.2s;
  font-family: NowBlack;
}

.sort-btn button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.sort-btn select {
  background-color: rgb(239, 228, 197);
  color: black;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-family: NowBlack;
}

.searchbar-style input {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  background-color: #333;
  color: white;
  font-size: 16px;
  font-family: NowBlack;
}

.moviedetails-reviews-container {
  width: 100%;
  background-color: rgb(239, 228, 197);
  border-radius: 20px;
  color: white;
  animation: shadows 2s infinite;
  padding: 30px 0 60px 0;
  margin: 0 auto;
  color: #0b1828;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: small;
  max-width: 30%;
  width: 50%;
}

.moviedetails-reviews-container h4 {
  text-align: left;
  padding-left: 20px;
  margin-bottom: 0;
}

#review-title {
  font-size: 30px;
  text-align: center;
  margin: 10px 0;
}

.moviedetails-reviews-container p {
  font-size: 16px;
  margin: 5px 0;
}

.moviedetails-reviews-container p:nth-of-type(2) {
  font-size: 10px;
}

#star-rating .star {
  font-size: 20px;
  margin-right: 2px;
}
